<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jasmine's Legacy of Dreams | Jasmine's Story</title>
        <!-- Favicon -->
        <link rel="icon" href="./Images/favicon.png" type="image/x-icon">
        <!--Remix icons -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <!-- CSS Styles -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <script src="./JS/main.js"></script>
    </head>
    <body>
        <div id="header-placeholder"></div>
        <div class = "container">
            <div class="element">
                <div id="main-content">
                    <p>Jasmine's Legacy of Dreams chairty was created in memory of Jasmine Moseley who, aged 18, was diagnosed with leukaemia. Despite underoging significant treamtment, including a bone marrow transplant and having fought throughout with such determination, Jasmine sadly lost her fight for life, just short of her 20th birthday.</p>
                    <img src="./Images/placeholder.jpg" alt="Placeholder image">
                    <p>During her treatment, Jasmine met other young people being treated for cancer. She planned to support others with cancer once she had been successfully treated. Her parents, Adnrew and Debbie, created the charity so that Jasmine's dream could be realised and her memory lives on helping others.</p>
                </div>
            </div>
        </div>
        <br>
        <div id="footer-placeholder"></div>
    </body>
</html>