/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.element {
    max-width: fit-content;
    margin-inline: auto;
  }

  body {
    background: url('./../Images/d. Blurred Valentines Day Wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}
/* Override Bootstrap's bg-light for the navbar */
.navbar.bg-light {
  background-color: #FAAEC0 !important;
  padding: 5px;
  border-radius: 4px;
}

.card.bg-light{
  background-color: #FAAEC0 !important;
  padding: 5px;
  border-radius: 4px;
}

.bg-dark{
  background-color: #e3d4fc !important;
  padding: 5px;
  border-radius: 4px;
}

.bg-secondary{
  background-color: #fcd4fc !important;
  padding: 5px;
  border-radius: 4px;
}

.bg-fundraiser{
  background-color: #fcd4e2 !important;
  padding: 5px;
  border-radius: 4px;
}

.text-wrapper {
  background-color: rgba(251, 229, 236, 0.6); /* light overlay with 60% opacity */
  padding: 5px;
  border-radius: 4px;
}