/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.element {
    max-width: fit-content;
    margin-inline: auto;
  }

  body {
    background: url('./../Images/d. Blurred Valentines Day Wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}
/* Override Bootstrap's bg-light for the navbar */
.navbar.bg-light {
  background-color: #FAAEC0 !important;
}

.card.bg-light{
  background-color: #FAAEC0 !important;
}